{
  "presets": [
    [
      "env",
      {
        "targets": {
          "modules": false,
          "node": "current",
          "useBuiltins": true
        }
      }
    ],

    "stage-2"
  ],

  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}
