{
  "presets": [
    [
      "env",
      {
        "targets": {
          "modules": false,
          "node": "current",
          "useBuiltins": true
        }
      }
    ]
  ],

  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ],

  "env": {
    "test": {
      "presets": [
        "jest"
      ]
    }
  }
}
