language: node_js
node_js:
  - "8"

branches:
  only:
    - master

cache:
  directories:
    - "node_modules"

install:
  - npm install
  - npm install codecov -g

scripts:
  - npm run test-coverage

after_success:
  - codecov
